* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}
